.jumbotron {
	background-image: url("http://static.simpledesktops.com/uploads/desktops/2014/04/01/Bubbles.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
